@charset "utf-8";
/*绿色*/
#sn7_leftsead li a .shows{background-color:#009900;}
#sn7_leftsead li a .sn7_hides p{background-color:#009900;}
#sn7_leftsead li a .sn7_hides .ph_bg{background-color:#009900;} 

 
