{% load static %}

<div class="floor-title ">
    <h2><a href="http://www.yiguo.com/products/01_channelhome.html" target="_blank"><i>F1</i>暖风农商</a></h2>
        <span class="keyword">
                <a href="http://search.yiguo.com/?keyword=%e8%bf%9b%e5%8f%a3%e8%8b%b9%e6%9e%9c&amp;pageindex=1" target="_blank" class="">进口苹果</a>
                <a href="http://www.yiguo.com/products/0101_qiyiguo.html#formCx" target="_blank" class="">佳沛专区</a>
                <a href="http://search.yiguo.com/?keyword=%E6%B3%B0%E5%9B%BD" target="_blank" class="last">泰国鲜果</a>
        </span>
</div>
<div class="floor-con floor-layout2">
            <div class="floor-side"><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src="{% static "agribusiness/picture/001/9288701136937553.jpg"%}" width="275" height="463"></a></div>
            <div class="floor-main">
            <ul>
                

                        <li><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src="{% static "agribusiness/picture/001/9288719443928141.jpg"%}" width="230" height="230"></a></li>
                                        <li><a href="/agribusiness/agribusinessapay?name=fiust" target="_blank"><img src="{% static "agribusiness/picture/001/9288718586225721.jpg"%}" width="230" height="230"></a></li>
                                        <li class="wide"><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src="{% static "agribusiness/picture/001/9288714534265698.jpg"%}" width="461" height="230"></a></li>
                                        <li class="wide"><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src="{% static "agribusiness/picture/001/9288716094317445.jpg"%}" width="461" height="230"></a></li>
                                        <li><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src="{% static "agribusiness/picture/001/9288717661971496.jpg"%}" width="230" height="230"></a></li>
                                        <li><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src="{% static "agribusiness/picture/001/9288719445992525.jpg"%}" width="230" height="230"></a></li>
            </ul>
        </div>
</div>
