{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>测试农商买卖中</title>
    <meta name="Keywords" content="水果,进口水果,国产水果,蔬菜,肉类,海鲜,禽蛋,粮油,甜点,葡萄酒,易果网">
    <meta name="Description" content="">
    <meta property="qc:admins" content="15753240576117576375" />
    <link rel="shortcut icon" href="http://static01.yiguo.com/common/images/yiguo.ico" />
  
    <link href="{% static "agribusinesspay/css/public.css"%}" rel="stylesheet" type="text/css">
    <link href="{% static "agribusinesspay/css/customer.css"%}" rel="stylesheet" type="text/css">
    <link href="{% static "agribusinesspay/css/pageguide.css"%}" rel="stylesheet" type="text/css">

    
    <link href="{% static "agribusinesspay/css/product_detail.css"%}" rel="stylesheet" type="text/css">
    <link href="{% static "agribusinesspay/css/yiguo.css"%}" rel="stylesheet" type="text/css">



    <script src="{% static "agribusinesspay/js/jquery.js"%}"></script>
    <script>
        yg_x = new Date();
        var yw_data = {};
    </script>
    <script type="text/javascript">
        var _bdhm_top = 0;
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        var _bdhm_tim = new Image(1, 1);
        _bdhm_tim.id = "bdhmPerimg";
        _bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=36a486fbdec46fc52ca666dd2e98f260&rnd=" + Math.round(Math.random() * 2147483647);
        _bdhm_tim.onload = function () { _bdhm_top = 1; }
    </script>
    <!-- start Dplus -->
    <script type="text/javascript">
        !function (a, b) {
            if (!b.__SV) {
                var c, d, e, f;
                window.dplus = b, b._i = [], b.init = function (a, c, d) {
                    function g(a, b) {
                        var c = b.split(".");
                        2 == c.length && (a = a[c[0]], b = c[1]), a[b] = function () { a.push([b].concat(Array.prototype.slice.call(arguments, 0))) }
                    }

                    var h = b;
                    for ("undefined" != typeof d ? h = b[d] = [] : d = "dplus", h.people = h.people || [], h.toString = function (a) {
                        var b = "dplus";
                        return "dplus" !== d && (b += "." + d), a || (b += " (stub)"), b
                    }, h.people.toString = function () { return h.toString(1) + ".people (stub)" }, e = "disable track track_links track_forms register unregister get_property identify clear set_config get_config get_distinct_id track_pageview register_once track_with_tag time_event people.set people.unset people.delete_user".split(" "), f = 0; f < e.length; f++) g(h, e[f]);
                    b._i.push([a, c, d])
                }, b.__SV = 1.1, c = a.createElement("script"), c.type = "text/javascript", c.charset = "utf-8", c.async = !0, c.src = "//w.cnzz.com/dplus.php?token=1915ef989c5aence66fa", d = a.getElementsByTagName("script")[0], d.parentNode.insertBefore(c, d)
            }
        }(document, window.dplus || []), dplus.init("1915ef989c5aence66fa");
    </script>
    <!-- end Dplus -->
    <script type="text/javascript" src="{% static "agribusinesspay/js/ygm.dplus-0.5.js"%}"></script>
    
</head>
<body id="body">
    <div class="w">
        <div id="topads">
        {% verbatim %}
            <script id="topadstpl" type="text/x-handlebars-template">
                {{#TopAds}}
                <a href="{{Link}}">
                    <img src="{% static "agribusinesspay/picture/d0d7e540ff1c47ed9111f39c134c061e.gif"%}" style="width:100%;" />
                </a>
                {{/TopAds}}
              {% endverbatim %}
            </script>
        </div>
        <!------- 顶部工具栏 ------->
        <div class="site-nav">
            <div class="wrap">
                <ul class="fl">
                    <li>欢迎光临暖风农商！</li>
             
                </ul>
                <ul class="fr">

                    <li class="mobile">
                        <div class="tit"><a href="javascript:void(0)"><i></i>手机暖风<s></s></a></div>
                        <div class="con">
                            <div class="item"><img src="{% static "agribusinesspay/picture/qrcode_app_1.jpg"%}" width="125" height="125"><span>扫一扫关注暖风公益</span></div>
                            <div class="item"><img src="{% static "agribusinesspay/picture/qrcode_wechat_1.jpg"%}" width="125" height="125"><span>联系我们暖风农商负责人</span></div>
                        </div>
                    </li>
                    <li class="myyiguo">
                        
                        <div class="tit"><a rel="nofollow" href="http://home.yiguo.com" target="_blank"><i></i>我的农商<s></s></a></div>
                        <div class="con">
                            <a rel="nofollow" href="http://home.yiguo.com/Trade/OrderList">登陆</a>
                           
                            <a rel="nofollow" href="http://home.yiguo.com/Trade/MyCollection">注册</a>
                            <a rel="nofollow" href="http://home.yiguo.com/Trade/UMoney">我的订单</a>
                            <a rel="nofollow" href="http://home.yiguo.com/Trade/BackOrder">我的收藏</a>
                          
                            
                        </div>
                    </li>
               
                </ul>
            </div>
        </div>
        <!------- 头部 ------->
        <div class="header clearfix">
            <div class="wrap">
                <div class="logo">
                    <a href="#"></a>
                </div>

                <div class="search" style="position:relative;">
                    <div class="search-bar clearfix">
                        <input type="text" id="keyword" name="keyword" class="search-input" value="输入农作物" onfocus=" if (this.value == '输入农作物') {this.value = '';this.style.color = '#000';} " onblur=" if (this.value == '') {this.value = '输入农作物';this.style.color = '#999';} " style="color: rgb(153, 153, 153);">
                        <input class="search-btn" type="submit" value="搜索">
                    </div>
                    <ul class="hide" id="shelper" style="display: none;"></ul>
                    <div class="search-keywords" id="keywords">
                        {% verbatim %}
                        <script id="keywordstpl" type="text/x-handlebars-template">
                            {{#KeyWords}}
                            {{#equal IsImportant true}}
                            <a href="{{Link}}" class="hot" target="_blank">{{Text}}</a>
                            {{else}}
                            <a href="{{Link}}" target="_blank">{{Text}}</a>
                            {{/equal}}
                            {{/KeyWords}}
                        </script>
                        {% endverbatim %}
                    </div>
                </div>

            </div>
        </div>
        


        <div class="footer_service">
    <div class="wrap">
        <ul>
            <li class="s1">
                <b>全球精选</b>
                <span>全新的购物方案</span>
            </li>
            <li class="s2">
                <b>农家采购</b>
                <span>质量值得信赖</span>
            </li>
            <li class="s3">
                <b>实时跟踪</b>
                <span>从开始到成熟跟踪</span>
            </li>
            <li class="s4">
                <b>包送到家</b>
                <span>收割之时就是你的丰收</span>
            </li>
        </ul>
    </div>
</div>
<!------- 页尾 ------->
<div class="footer">
    <div class="wrap">
        <dl class="col1">
            <dt>新手指南</dt>
            <dd>
                <p><a href="/help/registersteps.html">账户注册</a></p>
                <p><a href="/help/gouwuliucheng.html">购物流程</a></p>
                <p><a href="/help/ordering.html">订购方式</a></p>
                <p><a href="/help/ubremark.html">悠币说明</a></p>
                            <p><a href="http://www.yiguo.com/activity/sale/2999">会员等级<i class="ml5"><img src="{% static "agribusinessapy/picture/icon-new_1.png"%}"></i></a></p>

            </dd>
        </dl>
        <dl class="col2">
            <dt>付款方式</dt>
            <dd>
                <p><a href="/help/payment.html">支付方式</a>/<a href="/help/invoiceremark.html">发票说明</a></p>
                <p><a href="/help/chongzhiliucheng.html">充值说明</a><a href="/help/usechuzhika.html">/储值卡说明</a></p>
                <p><a href="/help/usegiftcard.html">优惠代码/礼品卡说明</a></p>
                <p><a href="/help/cardbuynotes.html">卡券购买章程</a></p>
            </dd>
        </dl>
        <dl class="col3">
            <dt>配送方式</dt>
            <dd>
                <p><a href="/help/sendyuefei.html">配送运费</a></p>
                <p><a href="/help/sendquyu.html">配送范围</a></p>
                <p><a href="/help/sendtime.html">配送时间</a></p>
            </dd>
        </dl>
        <dl class="col4">
            <dt>售后服务</dt>
            <dd>
                <p><a href="/help/tuihuanhuoshuoming.html">退换货政策</a></p>
                <p><a href="/help/huanhuolc.html">退换货流程</a></p>
                <p><a href="/help/qa.html">常见问题</a></p>
                <p><a href="/help/quicknessrefund.html">极速退款</a><p>
                <p><a href="http://home.yiguo.com/Trade/Advice">投诉与建议</a></p>
            </dd>
        </dl>
        <dl class="col5">
            <dt>关于我们</dt>
            <dd>
                <p><a href="/help/introduction.html">公司介绍</a></p>
                <p><a href="/help/contact.html">联系我们</a></p>
                <p><a href="/help/procooperation.html">业务合作</a></p>
                <p><a href="/help/chengxinjubao.html">诚信举报</a></p>
                <p><a href="http://yiguo.zhiye.com/home" target="_blank" rel="nofollow">人才招聘</a></p>
                <p><a href="/help/friendurl.html">友情链接</a></p>
                
            </dd>
        </dl>
        <div class="service"><span>客服热线 13433618267</span><span>周一至周日 9:00-21:00</span></div>
        <div class="copyright">
            
            <p> <a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" target="_blank" rel="nofollow"> </a>  Copyright © 2005-2018 <a href="http://www.nuanfeng.ga/">暖风公益机构</a></p>
           
        </div>
    </div>
</div>
<script type="text/javascript">
    var nowDate = new Date();
    var nowTime = nowDate.getFullYear() + "-" + (nowDate.getMonth() + 1) + "-" + nowDate.getDate();
    var endTime = "2017-5-15";
    if (ToDate(nowTime) >= ToDate(endTime)) {
        $('.col1 .ml5').hide();
    }

    function ToDate(str) {
        var arr = str.split("-");
        var newDate = new Date(arr[0], arr[1], arr[2]);
        return newDate;
    }
</script>


        <!------- 侧边悬浮 ------->
        <div class="sidebar" id="sidebar">
     
            <a href="#body" class="s-btn goTop"></a>
        </div>
    </div>

    <script src="{% static "agribusinesspay/js/jquery.cookie.js"%}"></script>
        <script src="{% static "agribusinesspay/js/handlebars-v3.0.1.js"%}"></script>
    <script src="{% static "agribusinesspay/js/utaste.js"%}"></script>
    <script src="{% static "agribusinesspay/js/base.js"%}"></script>
    <!--<script src="js/jquery.su perslide_1.js"%}"></script>-->
    <script src="{% static "agribusinesspay/js/sidebar.js"%}"></script>
    <script src="{% static "agribusinesspay/js/floor-guide.js"%}"></script>
    <!--<script src="{% static "agribusinesspay/js/global-v2.js"%}"></script>-->
    <script src="{% static "agribusinesspay/js/search.js"%}"></script>
    <!--<script src="js/city_1.js"></script>-->
    <script src="{% static "agribusinesspay/js/app.js"%}"></script>
    <script src="{% static "agribusinesspay/js/common.js"%}"></script>
    <script src="{% static "agribusinesspay/js/util.js"%}"></script>
    <!--[if lt IE 9]>
        <!--<script src="{% static "agribusinesspay/js/json.js"%}" charset="utf-8"></script>-->
    <![endif]-->
    <!-- 自动适配移动端与pc端 -->
<!--    <script src="js/3e8183519bf34d63b7386917c67d64b0.js" charset="utf-8"></script>    -->
<!--    <script src="js/chat.js"></script>-->
    <script>
        $(function () {
            app.init();
            YgmDplus.init("www.yiguo.com", "", "");           
        })

    </script>
    
    
    <script src="{% static "agribusinesspay/js/product_detail.js"%}"></script>
    <script src="{% static "agribusinesspay/js/jquery.spinner.js"%}"></script>
    
    <script src="{% static "agribusinesspay/js/jquery.lazyload.min.js"%}"></script>
    <script type="text/javascript">

        yw_data={pagetype:"1",data:"106252"};

        AddViewedCommodity('原膳南美白虾仁（中）250g', '106252', 'http://img14.yiguoimg.com/d/items/2017/171130/9288715872871294_300.jpg');
        $(".spinner").spinner({
            max: 99,
            min: 1,
            step: 1
        });
        app.getrecentViewCommodity("/product/GetRecentViewCommodity?commodityCode=106252");
        $(function () {
            $(".pro-promo").last().css({ "border-bottom": "1px dashed #d9d9d9", "margin-bottom": "20px", "padding-bottom": "10px" });
        })
    </script>
    <script type="text/javascript">
        if (getCookie('cps') == "100001&mediav") {
            var _mvq = window._mvq || [];
            window._mvq = _mvq;
            _mvq.push(['$setAccount', 'm-20296-1']);
            _mvq.push(['$setGeneral', 'goodsdetail', '', /*用户名*/ '', /*用户id*/ '']);
            _mvq.push(['$logConversion']);

            _mvq.push(['setPageUrl', /*单品着陆页url*/ window.location.href]);	//如果不需要特意指定单品着陆页url请将此语句删掉
            _mvq.push(['$addGoods',  /*分类id*/   '0403_xia', /*品牌id*/ '原膳', /*商品名称*/  '原膳南美白虾仁（中）250g',/*商品ID*/ '106252',/*商品售价*/ '32.90', /*商品图片url*/'http://img01.yiguoimg.com/img/9288715872871294.jpg', /*分类名*/ '虾', /*品牌名*/ '', /*商品库存状态1或是0*/ '1', /*网络价*/ '',/*收藏人数*/ '', /*商品下架时间*/ '']);
            _mvq.push(['$addPricing', /*价格描述*/ '']);
            _mvq.push(['$logData']);
        }
        $(window).scroll(function () {
            var spaceTop = $('.detail-content').offset().top,
                scrollTop = $(window).scrollTop();
            if (scrollTop > spaceTop) {
                $('.detail-tab').addClass('fixed');
                $(".detail-tab").append($(".shopping-cart"));
            }
            else {
                $('.detail-tab').removeClass('fixed');
                $(".header .wrap").append($(".shopping-cart"));
            }
        });

        $(function () {
            $(".addcart").click(function () {
                var vdsjson = {
                    "event_target": this
                     , "page_name": "商品详情页"
                     , "page_widget_position":1
                     , "city": "1"
                     , "sku_price": 32.90
                     , "sku_id": 106252
                     , "category_id":"0403_xia"
                     , "cart_sku_amount": $("#p_number").val()
                };
                //_vds.track("add_to_cart", vdsjson);

                //99click
                //判断用户符合登录规则
                //var tprm="userName="+getCookie("uid");
                //__ozfac2(tprm,"#addBasket"); //调用ozfac2函数，发送cnt请求；注意第二个参数的格式
                //setTimeout("",300);         //为了保证ozfac2函数顺利执行，等待300~500ms
            })
        })

    </script>

    <script type="text/javascript">
        if (getCookie('cps') == "100002&ipinyou") {
            var _goodsData = {
                id: '106252', //商品ID（必填）
                soldOut: '1', // 状态 1下架，0在售（必填）
                category: '虾', // 所属分类完整路径 （必填）
                categoryId: '0403_xia', // 所属分类ID （必填）
                name: '原膳南美白虾仁（中）250g', // 商品名称（必填）
                price: '32.90', // 商品售价（必填）
                imgUrl: 'http://img01.yiguoimg.com/img/9288715872871294.jpg', // 商品预览图 （必填）
                productUrl: window.location.href, // 商品URL地址 （必填）
                domain: '1', // 分站（如有分站必填）
                brand: '原膳'
            };
            var _py = _py || [];
            _py.push(['a', '6y..SrO6vljE2uhkqi03vEbY8_']);
            _py.push(['domain', 'stats.ipinyou.com']);
            _py.push(['pi', _goodsData]);
            _py.push(['e', '']);
            -function (d) {
                var s = d.createElement('script'),
                e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
                f = 'https:' == location.protocol;
                s.src = (f ? 'https' : 'http') + '://' + (f ? 'fm.ipinyou.com' : 'fm.p0y.cn') + '/j/adv.js';
            }(document);
        }
    </script>
    <script>

        var productids = new Array();
        var products = $(".recommend .j_product img a");
        $.each(products, function (index, item) {
            if (index < 10) {
                var link = $(item).attr("href");
                productids.push(link.substring(link.lastIndexOf('/') + 1, link.lastIndexOf('.')));
            }
        });

        var firstcategoryLink = $(".crumbs a").eq(1).attr("href");
        var categoryCode; var categoryName;
        if ($(".crumbs a").eq(1) != undefined && $(".crumbs a").eq(1).length > 0) {
            categoryCode = firstcategoryLink.substring(firstcategoryLink.lastIndexOf('/') + 1, firstcategoryLink.lastIndexOf('.'));
            categoryName = $(".crumbs a").eq(1).html();
        }

        
    </script>

    <script type="text/javascript">
        $(function(){

            $("img.lazy").lazyload({  effect : "fadeIn"});
            $("video").find("source").attr("src",$(this).attr("data-original"));

            var commodity={
                CommodityId:"24942cf2-0678-4960-8325-f974fcc730aa",
                State:"1",
                Stock:"有货",
                WebId:"4",
                Spec:"250g/袋",
                InDeliveryArea:"True",
            };
            if(commodity.InDeliveryArea&&commodity.Stock!= "无货"&& commodity.State == 1)
            {
                product.GetCommodityPromotion(commodity);
            }
            product.GetHotCommodity (commodity.CommodityId);
            product.GetArtical(commodity.CommodityId);
            //product.LikeMoreCommodity(commodity.CommodityId);
            if(product.WebId == 8 &&product.Spec!=undefined&& (product.Spec.indexOf("磅")>0 || product.Spec.indexOf("cm")>0))
            {
                product.CakeParts();
            }
            product.ProductAttribute(commodity.CommodityId);

        })
    </script>



    

    <script src="{% static "agribusinesspay/js/stats.js"%}"></script>
    
    
</body>
</html>