{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>暖风农商</title>
    <meta name="Keywords" content="农商,播种">
    <meta name="Description" content="暖风公益与农民合作，其他人可以通过该平台进行选播，定期可以观看农作物的生长情况">
    <meta property="qc:admins" content="15753240576117576375" />
    <link rel="shortcut icon" href="http://static01.yiguo.com/common/images/yiguo.ico" />
    <link rel="dns-prefetch" href="//img01.yiguoimg.com" />
    <link rel="dns-prefetch" href="//img02.yiguoimg.com" />
    <link rel="dns-prefetch" href="//img03.yiguoimg.com" />
    <link rel="dns-prefetch" href="//img04.yiguoimg.com" />
    <link rel="dns-prefetch" href="//img05.yiguoimg.com" />
    <link rel="dns-prefetch" href="//img06.yiguoimg.com" />
    <link rel="dns-prefetch" href="//img07.yiguoimg.com" />
    <link rel="dns-prefetch" href="//img08.yiguoimg.com" />
    <link href="{% static "agribusiness/css/public.css"%}" rel="stylesheet" type="text/css">
    <link href="{% static "agribusiness/css/customer.css"%}" rel="stylesheet" type="text/css">
    <link href="{% static "agribusiness/css/pageguide.css"%}" rel="stylesheet" type="text/css">

    
    <link href="{% static "agribusiness/css/index.css"%}" rel="stylesheet" type="text/css">
    <!--
vConsole ——开源的前端console 调试面板 - 前端观察
    -->
    <script src="{% static "agribusiness/js/dist/vconsole.min.js"%}"></script>
    <script>
    var vConsole = new VConsole();
    console.log('Hello World');
     </script>
    <!--IE6png兼容-->
    <!--[if IE 6]>
    <script type="text/javascript" src="{% static "agribusiness/js/dd_belatedpng.js"%}" ></script>
    <script type="text/javascript" src="{% static "agribusiness/js/ie6_loading.js"%}"></script>
    <![endif]-->

    <script src="{% static "agribusiness/js/jquery.js"%}"></script>
    <script>
        yg_x = new Date();
        var yw_data = {};
    </script>
    <script type="text/javascript">
        var _bdhm_top = 0;
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        var _bdhm_tim = new Image(1, 1);
        _bdhm_tim.id = "bdhmPerimg";
        _bdhm_tim.src = _bdhmProtocol + "hm.baidu.com/_tt.gif?si=36a486fbdec46fc52ca666dd2e98f260&rnd=" + Math.round(Math.random() * 2147483647);
        _bdhm_tim.onload = function () { _bdhm_top = 1; }
    </script>
    <!-- start Dplus -->
    <script type="text/javascript">
        !function (a, b) {
            if (!b.__SV) {
                var c, d, e, f;
                window.dplus = b, b._i = [], b.init = function (a, c, d) {
                    function g(a, b) {
                        var c = b.split(".");
                        2 == c.length && (a = a[c[0]], b = c[1]), a[b] = function () { a.push([b].concat(Array.prototype.slice.call(arguments, 0))) }
                    }

                    var h = b;
                    for ("undefined" != typeof d ? h = b[d] = [] : d = "dplus", h.people = h.people || [], h.toString = function (a) {
                        var b = "dplus";
                        return "dplus" !== d && (b += "." + d), a || (b += " (stub)"), b
                    }, h.people.toString = function () { return h.toString(1) + ".people (stub)" }, e = "disable track track_links track_forms register unregister get_property identify clear set_config get_config get_distinct_id track_pageview register_once track_with_tag time_event people.set people.unset people.delete_user".split(" "), f = 0; f < e.length; f++) g(h, e[f]);
                    b._i.push([a, c, d])
                }, b.__SV = 1.1, c = a.createElement("script"), c.type = "text/javascript", c.charset = "utf-8", c.async = !0, c.src = "//w.cnzz.com/dplus.php?token=1915ef989c5aence66fa", d = a.getElementsByTagName("script")[0], d.parentNode.insertBefore(c, d)
            }
        }(document, window.dplus || []), dplus.init("1915ef989c5aence66fa");
    </script>
    <!-- end Dplus -->
    <script type="text/javascript" src="{% static "agribusiness/js/ygm.dplus-0.5.js"%}"></script>
    
</head>
<body id="body">
    <div class="w">
        <div id="topads">
            <script id="topadstpl" type="text/x-handlebars-template">
                                                                                 <!--<script type="text/javascript" src="{% static "agribusiness/js/test.js"%}" ></script>-->
    {% verbatim %}
                {{#TopAds}}
                <a href="{{Link}}">
                    <img src="{% static "agribusiness/picture/0c13483c45a649d395f92e754778ae27.gif"%}" style="width:100%;" />
                </a>
                {{/TopAds}}
            </script>
    {% endverbatim %}
        </div>
        <!------- 顶部工具栏 ------->
        <div class="site-nav">
            <div class="wrap">
                <ul class="fl">
                    <li>欢迎光临暖风农商！</li>
                    <!--送货城市 开始-->

                    <!--送货城市 结束-->
                </ul>
                <ul class="fr">


                    <li class="mobile">
                        <div class="tit"><a href="javascript:void(0)"><i></i>手机暖风<s></s></a></div>
                        <div class="con">
                            <div class="item"><img src="{% static "agribusiness/picture/qrcode_app.jpg"%}" width="125" height="125"><span>扫一扫关注我们</span></div>
                            <div class="item"><img src="{% static "agribusiness/picture/qrcode_wechat.jpg"%}" width="125" height="125"><span>暖风农商负责人微信</span></div>
                        </div>
                    </li>
                    <li class="myyiguo">
                        
                        <div class="tit"><a rel="nofollow" href="#" target="_blank"><i></i>我的农产<s></s></a></div>
                        <div class="con">
                            <a rel="nofollow" href="http://www.nuanfenggoods.ga/login">登陆</a>
                            <a rel="nofollow" href="http://www.nuanfenggoods.ga/regrater">注册</a>
                            <a rel="nofollow" href="http://www.nuanfenggoods.ga/regrater">我的订单</a>
                            <a rel="nofollow" href="http://www.nuanfenggoods.ga/regrater">我的收藏</a>
                            <a rel="nofollow" href="javascript:;" class="logout" style="display:none;">退出</a>
                            
                        </div>
                    </li>
                  
                </ul>
            </div>
        </div>
        <!------- 头部 ------->
        <div class="header clearfix">
            <div class="wrap">
                <div class="logo">
                    <a href="http://www.nuanfenggoods.com"></a>
                </div>
                <!--搜索 开始-->
                <div class="search" style="position:relative;">
                    <div class="search-bar clearfix">
                        <input type="text" id="keyword" name="keyword" class="search-input" value="输入农作物" onfocus=" if (this.value == '输入商品名／编号／拼音') {this.value = '';this.style.color = '#000';} " onblur=" if (this.value == '') {this.value = '输入商品名／编号／拼音';this.style.color = '#999';} " style="color: rgb(153, 153, 153);">
                        <input class="search-btn" type="submit" value="搜索">
                    </div>
                    <ul class="hide" id="shelper" style="display: none;"></ul>
                    <div class="search-keywords" id="keywords">
                 {% verbatim %}
                        <script id="keywordstpl" type="text/x-handlebars-template">
                            {{#KeyWords}}
                            {{#equal IsImportant true}}
                            <a href="{{Link}}" class="hot" target="_blank">{{Text}}</a>
                            {{else}}
                            <a href="{{Link}}" target="_blank">{{Text}}</a>
                            {{/equal}}
                            {{/KeyWords}}
                        </script>
                 {% endverbatim %}
                    </div>
                </div>
                <!--购物车 开始-->

                <!--购物车 结束-->
            </div>
        </div>
        


<div class="header-nav">
    <div class="wrap">
        <!--商品分类 开始-->
        <div class="catalogs">
            
            <div class="catalogs-title"><a href="javascript:;">全部农作物分类▼</a></div>
            <div class="catalogs-list" style="display:none">

                          {%  for i in typingall  %}

                        <div class="item">
                            <h3 class="t01_channelhome"><a href={{ i.image_link }}  ><i></i>{{ i.name }}<s>></s></a></h3>
                            <div class="sub-item">
                                <h4><a href={{ i.image_link }}>{{ i.name }}</a></h4>
                                <div class="sub-list">
                                            {%  for j in  i.typingfood %}

                                            <a href={{ j.link }} target="_blank">{{ j.food }}</a>


                                            {%  endfor  %}
                                </div>
                                        <div class="catalogs-ad">
                                                    <a href="http://www.yiguo.com/products/01_channelhome.html"><img src={% static i.image_link  %} alt={{ i.name }}></a>
                                        </div>
                            </div>
                        </div>

                      {%   endfor  %}



                            <!--商品分类 结束-->
            </div>
        </div>
<!------- 轮播广告 ------->
<div class="banner-slider">
    <ul class="b-slider">
                <li style="background:#efefef;" _begintime="2018/2/24 11:25:03" _endtime="2018/3/2 23:59:59" _title="元宵">
                    <a href="http://www.nuanfenggoods.com/activity/sale/yuanxiao001dong" target="_blank">
                        <div class="slider-wrap">
                            <span class="banner-text">
                                <img height="500" />
                            </span>
                        </div>
                        <div class="banner-main" style="background:url({% static "agribusiness/images/logo.png"%}")></div>
                    </a>
                </li>
                <li style="background:#efefef;" _begintime="2018/2/24 0:00:00" _endtime="2018/3/5 23:59:59" _title="吃喝照样好">
                    <a href="http://www.yiguo.com/activity/sale/food019" target="_blank">
                        <div class="slider-wrap">
                            <span class="banner-text">
                                <img height="500" />
                            </span>
                        </div>
                        <div class="banner-main" style="background:url({% static "agribusiness/images/9288719526798422.jpg"%}")></div>
                    </a>
                </li>
                <li style="background:#efefef;" _begintime="2018/2/24 0:00:00" _endtime="2018/3/5 23:59:59" _title="餐桌元宵小奢吃">
                    <a href="http://www.yiguo.com/activity/sale/LanternFestival" target="_blank">
                        <div class="slider-wrap">
                            <span class="banner-text">
                                <img height="500" />
                            </span>
                        </div>
                        <div class="banner-main" style="background:url({% static "agribusiness/images/9288719513461846.jpg"%}")></div>
                    </a>
                </li>
                <li style="background:#efefef;" _begintime="2018/2/24 0:00:00" _endtime="2018/3/5 23:59:59" _title="鲜果闹元宵（华东）">
                    <a href="http://www.yiguo.com/activity/sale/fruit054" target="_blank">
                        <div class="slider-wrap">
                            <span class="banner-text">
                                <img height="500" />
                            </span>
                        </div>
                        <div class="banner-main" style="background:url({% static "agribusiness/images/9288719629853786.jpg"%}")></div>
                    </a>
                </li>
                <li style="background:#efefef;" _begintime="2017/5/5 10:59:41" _endtime="2018/5/5 10:59:43" _title="注册礼">
                    <a href="http://www.yiguo.com/activity/sale/5620" target="_blank">
                        <div class="slider-wrap">
                            <span class="banner-text">
                                <img height="500" />
                            </span>
                        </div>
                        <div class="banner-main" style="background:url({% static "agribusiness/images/9288718006953007.jpg"%}")></div>
                    </a>
                </li>
                <li style="background:#efefef;" _begintime="2017/2/8 13:48:52" _endtime="2018/3/8 13:48:55">
                    <a href="http://www.yiguo.com/activity/sale/5991" target="_blank">
                        <div class="slider-wrap">
                            <span class="banner-text">
                                <img src="{% static "agribusiness/picture/9570175906816584.png"%}" height="500" />
                            </span>
                        </div>
                        <div class="banner-main" style="background:url({% static "agribusiness/images/9288700930171464.jpg"%}")></div>
                    </a>
                </li>
    </ul>

    <div class="b-btn">
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
    </div>
    <div class="b-dot">
        <ul></ul>
    </div>
</div>
<!------- 活动、广告位 ------->

    <div class="wrap ad-item">

        <ul>
            {%  for k in newsfood  %}
                 <li>
                    <a href="http://www.yiguo.com/activity/sale/3203" target="_blank">
                        <img src={% static  k.image_link %} width="290">
                            <p><b>{{ k.shortcontent }}</b>{{ k.content }}</p>
                    </a>
                </li>
            {%   endfor  %}

        </ul>
    </div>

<!------- 商品楼层 ------->

        {%  for m in classfoodlist %}

        <div class='floor wrap 0{{ m.id }}_channelhome clearfix loadfloor' id='t0{{ m.id }}_channelhome' data-url='http://127.0.0.1:8000/agribusiness/agribusiness?number=00{{ m.id }}'>
            <div class="loding"></div>
        </div>

        {%  endfor   %}

 
        <!--腰线 开始-->
        <!------- 楼层引导 ------->
        
<div class="floor-guide" style="display: none;">
    <div class="mui-nav">

        {%    for b in classfoodlist  %}
            <a href=#t0{{ b.id  }}_channelhome>
                <b class=icon_0{{ b.id }}_channelhome>&nbsp;</b>
                <em>{{ b.classname }}</em>
                <i>&nbsp;</i>
            </a>
        {%  endfor    %}
            <!--<a href="#t02_channelhome">-->
                <!--<b class="icon_02_channelhome">&nbsp;</b>-->
                <!--<em>国产水果</em>-->
                <!--<i>&nbsp;</i>-->
            <!--</a>-->
            <!--<a href="#t03_channelhome">-->
                <!--<b class="icon_03_channelhome">&nbsp;</b>-->
                <!--<em>海鲜水产</em>-->
                <!--<i>&nbsp;</i>-->
            <!--</a>-->
            <!--<a href="#t04_channelhome">-->
                <!--<b class="icon_04_channelhome">&nbsp;</b>-->
                <!--<em>精选肉类</em>-->
                <!--<i>&nbsp;</i>-->
            <!--</a>-->
            <!--<a href="#t05_channelhome">-->
                <!--<b class="icon_05_channelhome">&nbsp;</b>-->
                <!--<em>禽类蛋品</em>-->
                <!--<i>&nbsp;</i>-->
            <!--</a>-->

    </div>
</div>
        <!--腰线 结束-->
                    <!--摇一摇-->

        <div class="footer_service">
    <div class="wrap">
        <ul>
            <li class="s1">
                <b>全球精选</b>
                <span>全新的购物方案</span>
            </li>
            <li class="s2">
                <b>农家采购</b>
                <span>质量值得信赖</span>
            </li>
            <li class="s3">
                <b>实时跟踪</b>
                <span>从开始到成熟跟踪</span>
            </li>
            <li class="s4">
                <b>包送到家</b>
                <span>收割之时就是你的丰收</span>
            </li>
        </ul>
    </div>
</div>
<!------- 页尾 ------->
<div class="footer">
    <div class="wrap">
        <dl class="col1">
            <dt>新手指南</dt>
            <dd>
                <p><a href="/help/registersteps.html">账户注册</a></p>
                <p><a href="/help/gouwuliucheng.html">购物流程</a></p>
                <p><a href="/help/ordering.html">订购方式</a></p>
                <p><a href="/help/ubremark.html">悠币说明</a></p>
                            <p><a href="http://www.yiguo.com/activity/sale/2999">会员等级<i class="ml5"><img src="{% static "agribusiness/picture/icon-new.png"%}"></i></a></p>

            </dd>
        </dl>
        <dl class="col2">
            <dt>付款方式</dt>
            <dd>
                <p><a href="/help/payment.html">支付方式</a>/<a href="/help/invoiceremark.html">发票说明</a></p>
                <p><a href="/help/chongzhiliucheng.html">充值说明</a><a href="/help/usechuzhika.html">/储值卡说明</a></p>
                <p><a href="/help/usegiftcard.html">优惠代码/礼品卡说明</a></p>
                <p><a href="/help/cardbuynotes.html">卡券购买章程</a></p>
            </dd>
        </dl>
        <dl class="col3">
            <dt>配送方式</dt>
            <dd>
                <p><a href="/help/sendyuefei.html">配送运费</a></p>
                <p><a href="/help/sendquyu.html">配送范围</a></p>
                <p><a href="/help/sendtime.html">配送时间</a></p>
            </dd>
        </dl>
        <dl class="col4">
            <dt>售后服务</dt>
            <dd>
                <p><a href="/help/tuihuanhuoshuoming.html">退换货政策</a></p>
                <p><a href="/help/huanhuolc.html">退换货流程</a></p>
                <p><a href="/help/qa.html">常见问题</a></p>
                <p><a href="/help/quicknessrefund.html">极速退款</a><p>
                <p><a href="http://home.yiguo.com/Trade/Advice">投诉与建议</a></p>
            </dd>
        </dl>
        <dl class="col5">
            <dt>关于我们</dt>
            <dd>
                <p><a href="/help/introduction.html">公司介绍</a></p>
                <p><a href="/help/contact.html">联系我们</a></p>
                <p><a href="/help/procooperation.html">业务合作</a></p>
                <p><a href="/help/chengxinjubao.html">诚信举报</a></p>
                <p><a href="http://yiguo.zhiye.com/home" target="_blank" rel="nofollow">人才招聘</a></p>
                <p><a href="/help/friendurl.html">友情链接</a></p>

            </dd>
        </dl>
        <div class="service"><span>客服热线 13433618267 </span><span>周一至周日 9:00-21:00</span></div>
        <div class="copyright">
           
            <p> <a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" target="_blank" rel="nofollow"> </a>  Copyright © 2018 <a href="http://www.yiguo.com/">暖风公益机构</a></p>
          
        </div>
    </div>
</div>
<script type="text/javascript">
    var nowDate = new Date();
    var nowTime = nowDate.getFullYear() + "-" + (nowDate.getMonth() + 1) + "-" + nowDate.getDate();
    var endTime = "2017-5-15";
    if (ToDate(nowTime) >= ToDate(endTime)) {
        $('.col1 .ml5').hide();
    }

    function ToDate(str) {
        var arr = str.split("-");
        var newDate = new Date(arr[0], arr[1], arr[2]);
        return newDate;
    }
</script>


        <!------- 侧边悬浮 ------->
        <div class="sidebar" id="sidebar">
<!--            <a href="javascript:void(0);" class="s-btn service"></a>-->
            <a href="#body" class="s-btn goTop"></a>
        </div>
    </div>

    <script src="{% static "agribusiness/js/jquery.cookie.js"%}"></script>
    <script src="{% static "agribusiness/js/handlebars-v3.0.1.js"%}"></script>
    <script src="{% static "agribusiness/js/utaste.js"%}"></script>
    <script src="{% static "agribusiness/js/base.js"%}"></script>
    <script src="{% static "agribusiness/js/jquery.superslide.js"%}"></script>
    <script src="{% static "agribusiness/js/sidebar.js"%}"></script>
    <script src="{% static "agribusiness/js/floor-guide.js"%}"></script>
    <script src="{% static "agribusiness/js/global-v2.js"%}"></script>
    <script src="{% static "agribusiness/js/search.js"%}"></script>
    <script src="{% static "agribusiness/js/city.js"%}"></script>
    <script src="{% static "agribusiness/js/app.js"%}"></script>
    <script src="{% static "agribusiness/js/common.js"%}"></script>
    <!--<script src="{% static "agribusiness/js/util.js"%}"></script>-->
    <!--[if lt IE 9]>
        <script src="{% static "agribusiness/js/json.js"%}" charset="utf-8"></script>
    <![endif]-->
    <!-- 自动适配移动端与pc端 -->
    <script src="{% static "agribusiness/js/b6b7503ffaaa4d6da3f355151a19a622.js"%}" charset="utf-8"></script>
    <!--<script src="{% static "agribusiness/js/chat.js"%}"></script>-->
    <script>
        $(function () {
            app.init();
            YgmDplus.init("www.yiguo.com", "", "");           
        })

    </script>
    <!--yiguoStats-->
    <script type="text/javascript">
        var _yaq = _yaq || [];
        _yaq.push(['_operate', 'view']);
        _yaq.push(['_site', 'YiGuo']);
        _yaq.push(['categoryid', '']);
        _yaq.push(['behaviorid', '']);
        _yaq.push(['behavior', '']);

        (function () {
            var ya = document.createElement('script'); ya.type = 'text/javascript'; ya.async = true;
            <!--ya.src = "http://tracker.yiguo.com/Scripts/yiguoStats.min.js";-->
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ya, s);
        })();

    </script>
    
    

            <script>

                $(function () {
                    app.floorscroll(".loadfloor", 0);
                    app.changeCategory();
                    app.fixedheader();
                    $(".prev,.next").hover(function () {
                        $(this).fadeTo("show", 0.7);
                    }, function () {
                        $(this).fadeTo("show", 0.3);
                    })
                    //首页焦点图
                    $(".banner-slider").hover(function () {
                        $(this).find(".prev,.next").fadeTo("show", 0.3);
                    }, function () {
                        $(this).find(".prev,.next").hide();
                    })
                    $(".banner-slider").slide({
                        titCell: ".b-dot ul", mainCell: ".b-slider", effect: "fold", autoPlay: true, interTime: 4500, autoPage: true,
                        endFun: function (i, c) {
                            $(".b-slider li").removeClass("current").eq(i).addClass("current");
                        }
                    });


                    $(".banner-slider li").click(function () {
                        var vdsjson = {
                            "event_target": this
                            , "page_name": "首页"
                            , "page_number": 1
                            , "page_widget_name": "首页顶部滚动广告栏"
                            , "page_widget_position": $(this).index() + 1
                            , "city": "1"
                            , "promo_type": $(this).attr("_title")
                            , "promo_date_begin": $(this).attr("_beginTime")
                            , "promo_date_end": $(this).attr("_endtime")
                        };
                        _vds.track("ad_click", vdsjson);
                    })



                })
            </script>
            <script type="text/javascript">
                window.__zp_tag_params = {
                    pagetype: "shouye",
                };
            </script>

        
    <script src="{% static "agribusiness/js/stats.js"%}"></script>
    
    
</body>
</html>