{% load static %}

<div class="floor-title ">
    <h2><a href="http://www.yiguo.com/products/01_channelhome.html" target="_blank"><i>F1</i>暖风农商</a></h2>
        <span class="keyword">
                <a href="#" target="_blank" class="">进口苹果</a>
                <a href="#">佳沛专区</a>
                <a href="#" class="last">泰国鲜果</a>
        </span>
</div>
<div class="floor-con floor-layout2">
            <div class="floor-side"><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src={% static  firstfood.imagelink  %} width="275" height="463"></a></div>
            <div class="floor-main">
            <ul>
                

                        <li><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src={% static foodslist.0.image_link  %} width="230" height="230"></a></li>

                        <li><a href="/agribusiness/agribusinessapay?name=fiust" target="_blank"><img src={% static foodslist.1.image_link %} width="230" height="230"></a></li>
                        <li class="wide"><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src={% static foodslist.2.image_link  %} width="461" height="230"></a></li>
                        <li class="wide"><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src={% static  foodslist.3.image_link   %} width="461" height="230"></a></li>
                        <li><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src={% static    foodslist.4.image_link   %} width="230" height="230"></a></li>
                        <li><a href="/agribusiness/agribusinesspay?name=fiust" target="_blank"><img src={% static    foodslist.5.image_link   %} width="230" height="230"></a></li>
            </ul>
        </div>
</div>
